<div>
    <div class="about-me">
        <h2>About This Task Tracker</h2>
        <p>
          Welcome to your personal task tracker! This simple yet powerful tool is designed to help you manage your tasks efficiently. Here's what you can do with it:
        </p>
        <br>
        <ul>
          <li><strong>Add Tasks:</strong> Easily add tasks by typing in the task description and setting a time.</li>
          <li><strong>Delete Tasks:</strong> Remove tasks with a single click on the cross next to each task.</li>
          <li><strong>Toggle Status:</strong> Double-click on any task to mark it as completed or pending. Completed tasks are highlighted in green, while pending tasks are marked in red.</li>
        </ul>

        <br>
        <p>
          Stay organized and on top of your to-do list with this intuitive and user-friendly task tracker. Happy task managing!
        </p>
      </div>
    <a routerLink="/">Go back</a>
</div>